/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 145px;
}
.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 145px;
  background-color: #424242;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
	color: #fff;
	font-size: 9px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	font-weight: 200;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
