.shadow {
  stroke: rgb(198, 198, 198);
  stroke-width: 1px;
  fill: rgb(255, 255, 255);
}

svg {
  float: left;
  border: 0px solid rgb(212, 212, 212);
  margin: 18px 15px 18px 15px;
  padding: 0px;

}

.foto_sfondo {
  float: left;
  border: 3px solid rgb(212, 212, 212);
}

line {
  stroke: rgb(212, 212, 212);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.linea {
  stroke: rgb(0, 0, 0);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}




